<h3>Lisää artikkeli</h3>

<form action="/submit" method="post">
  <input type="hidden" name="reference" value="article">
  <h4>Pakolliset kentät:</h4>
  <p><input type="text" name="title" placeholder="otsikko" required></p>
  <p><input type="text" name="author" placeholder="kirjoittaja" required></p>
  <p><input type="text" name="year" placeholder="vuosi" required></p>
  <p><input type="text" name="journal" placeholder="julkaisu" required></p>
  <h4>Vaihtoehtoiset kentät:</h4>
  <p><input type="text" name="month" placeholder="kuukausi"></p>
  <p><input type="text" name="volume" placeholder="vuosikerta"></p>
  <p><input type="text" name="number" placeholder="julkaisuluku"></p>
  <p><input type="text" name="pages" placeholder="sivut"></p>
  <p><input type="text" name="note" placeholder="lisätiedot"></p>
  <p><button type="submit">Lähetä</button></p>
</form>
