{% from 'reference-table.html' import article_table, book_table %}

{% extends "layout.html" %}

{% block body %}
<h3>Poista viitteitä</h3>

<aside>
  <form action="/submit-delete" method="post">
    <button type="submit">Poista valitut viitteet</button>
    {% call(key) article_table(article_content) %}
    <input type="checkbox" name="selected", value="{{ key }}">Artikkeli
    {% endcall %}
    {% call(key) book_table(book_content) %}
    <input type="checkbox" name="selected", value="{{ key }}">Kirja
    {% endcall %}
  </form>

</aside>

{% endblock %}
