{% extends "layout.html" %}

{% block body %}
<h3>Poista liitteitä</h3>

<aside>
  <table>
    <tr>
      <th>Liite</th>
      <th>Koodi</th>
      <th>Kirjoittaja</th>
      <th>Otsikko</th>
      <th>Julkaisu</th>
      <th>Vuosi</th>
    </tr>
    {% for key, author, title, journal, year in content %}
    <tr>
      <td><input id="artikkeli" type="checkbox"><label for="artikkeli"></label>Artikkeli</td>
      <td>{{ key }}</td>
      <td>{{ author }}</td>
      <td>{{ title }}</td>
      <td>{{ journal }}</td>
      <td>{{ year }}</td>
    </tr>
    {% endfor %}
  </table>
</aside>


<br>

<p><a href="/">Takaisin etusivulle</a></p>

{% endblock %}
