{% from 'reference-table.html' import article_table, book_table %}
{% extends "layout.html" %}

{% block title %}Muokkaa tietoja{% endblock %}
{% block body %}

{% with viestit = get_flashed_messages() %}
  {% if viestit %}
    {% for viesti in viestit %}
    <b>{{ viesti }}</b>
    {% endfor %}
  {% endif %}
{% endwith %}

<aside>
    {% call(key) article_table(article_content) %}
    <a href="/edit_form/article/{{ key }}">Artikkeli</a>
    {% endcall %}
    {% call(key) book_table(book_content) %}
    <a href="/edit_form/book/{{ key }}">Kirja</a>
    {% endcall %}
</aside>

<div id="form-container">
    {% if form_type == 'article' %}
        {% include 'article_form.html' %}
    {% elif form_type == 'book' %}
        {% include 'book_form.html' %}
    {% endif %}
</div>

{% endblock %}
