{% from 'reference-table.html' import article_table, book_table %}

{% extends "layout.html" %}

{% block title %}Lisää viite{% endblock %}
{% block body %}

{% with viestit = get_flashed_messages() %}
  {% if viestit %}
    {% for viesti in viestit %}
    <b>{{ viesti }}</b>
    {% endfor %}
  {% endif %}
{% endwith %}


<aside>
  {% call(_) article_table(article_content) %}Artikkeli{% endcall %}
  {% call(_) book_table(book_content) %}Kirja{% endcall %}
</aside>

<div id="form-container">
  {% if form_type == "article" %}
    {% include 'article_form.html' %}
    {% endif %}  
  {% if form_type == "book" %}
    {% include 'book_form.html' %}
  {% endif %}
</div>

{% endblock %}
