{% extends "layout.html" %}

{% block title %}Lähdeviiteohjelma{% endblock %}
{% block body %}

<h2>Lähdeviiteohjelma</h2>

<form action="/submit" method="post">
    <ul>
        <li><p><input type="text" name="koodi" placeholder="koodi"></p></li>
        <li><p><input type="text" name="kirjoittaja" placeholder="kirjoittaja"></p></li>
        <li><p><input type="text" name="otsikko" placeholder="otsikko"></p></li>
        <li><p><input type="text" name="julkaisu" placeholder="julkaisu"></p></li>
        <li><p><input type="text" name="vuosi" placeholder="vuosi"></p></li>
    </ul>
    <p><button type="submit">lähetä</button></p>
</form>

{% endblock %}
