{% extends "layout.html" %}

{% block title %}Lähdeviiteohjelma{% endblock %}
{% block body %}

<h2>Lähdeviiteohjelma</h2>

{% with viestit = get_flashed_messages() %}
  {% if viestit %}
    {% for viesti in viestit %}
    <b>{{ viesti }}</b>
    {% endfor %}
  {% endif %}
{% endwith %}

<form action="/submit" method="post">
    <p><input type="text" name="koodi" placeholder="koodi"></p>
    <p><input type="text" name="kirjoittaja" placeholder="kirjoittaja"></p>
    <p><input type="text" name="otsikko" placeholder="otsikko"></p>
    <p><input type="text" name="julkaisu" placeholder="julkaisu"></p>
    <p><input type="text" name="vuosi" placeholder="vuosi"></p>
    <p><button type="submit">lähetä</button></p>
</form>


<ul>
    {% for artikkeli, koodi, kirjoittaja, otsikko, julkaisu, vuosi in content %}
    <li>
        <label>Artikkeli:</label>
        <span>{{ artikkeli }},</span>
        <label>Koodi:</label>
        <span>{{ koodi }},</span>
        <label>Kirjoittaja:</label>
        <span>{{ kirjoittaja }},</span>
        <label>Otsikko:</label>
        <span>{{ otsikko }},</span>
        <label>Julkaisu:</label>
        <span>{{ julkaisu }},</span>
        <label>Vuosi:</label>
        <span>{{ vuosi }}</span>
    </li>
    {% endfor %}
</ul>

{% endblock %}
