{% from 'reference_table.html' import article_table, book_table %}
{% extends "layout.html" %}

{% block title %}Lähdeviiteohjelma{% endblock %}
{% block body %}

<h1>Lähdeviiteohjelma</h1>

{% with viestit = get_flashed_messages() %}
  {% if viestit %}
    {% for viesti in viestit %}
    <b>{{ viesti }}</b>
    {% endfor %}
  {% endif %}
{% endwith %}

<aside>
  {% call(_) article_table(article_content) %}Artikkeli{% endcall %}
  {% call(_) book_table(book_content) %}Kirja{% endcall %}
</aside>

<h1>Tervetuloa lähdeviiteohjelmaan</h1>

{% endblock %}
