<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="navbar">
      <div class="left-links">
          <div class="title">Lähdeviiteohjelma</div>
          <div class="separator"></div>
          <form action="/form/article" method="get">
            <button type="submit">Lisää artikkeli</button>
          </form>
          <form action="/form/book" method="get">
            <button type="submit">Lisää kirja</button>
          </form>
          <form action="/edit_form" method="get">
            <button type="submit">Muokkaa viite</button>
          </form>
          <form action="/delete-form" method="get">
            <button type="submit">Poista viite</button>
          </form>
          <form action="/select" method="get">
            <button type="submit">Valitse viitteet</button>
          </form>
      </div>
      <div class="right-links">
          <form action="/bibtex" method="get">
            <button type="submit">Lataa BibTeX</button>
          </form>
          {% if not is_index%}
            <form action="/" method="get">
              <button type="submit">Etusivulle</button>
            </form>
          {% endif %}
      </div>
  </div>
  <main>
  {% block body %}{% endblock %}
  </main>
</body>
</html>
