<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      aside {
        width: 70%;
        padding-left: 15px;
        margin-left: 15px;
        margin-right: 15px;
        padding-right: 15px;
        float: right;
      }
    </style>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
