{% macro article_table(articles) %}
<table>
  <tr>
    <th>Viite</th>
    <th>Koodi</th>
    <th>Kirjoittaja</th>
    <th>Otsikko</th>
    <th>Julkaisu</th>
    <th>Vuosi</th>
    <th>Kuukausi</th>
    <th>Vuosikerta</th>
    <th>Julkaisuluku</th>
    <th>Sivut</th>
    <th>Muuta tietoa</th>
  </tr>
  {% for article in articles %}
  <tr>
    <td>{{ caller(article.key) }}</td>
    <td>{{ article.key }}</td>
    <td>{{ article.author }}</td>
    <td>{{ article.title }}</td>
    <td>{{ article.journal }}</td>
    <td>{{ article.year }}</td>
    <td>{{ article.month or "-" }}</td>
    <td>{{ article.volume or "-" }}</td>
    <td>{{ article.number or "-" }}</td>
    <td>{{ article.pages or "-" }}</td>
    <td>{{ article.note or "-" }}</td>
  </tr>
  {% endfor %}
</table>
{% endmacro %}

{% macro book_table(books) %}
<table>
  <tr>
    <th>Viite</th>
    <th>Koodi</th>
    <th>Kirjoittaja</th>
    <th>Otsikko</th>
    <th>Julkaisu</th>
    <th>Vuosi</th>
    <th>Osoite</th>
  </tr>
  {% for book in books %}
  <tr>
    <td>{{ caller(book.key) }}</td>
    <td>{{ book.key }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.title }}</td>
    <td>{{ book.publisher }}</td>
    <td>{{ book.year }}</td>
    <td>{{ book.address }}</td>
  </tr>
  {% endfor %}
</table>
{% endmacro %}
