{% from 'reference_table.html' import article_table, book_table %}

{% extends "layout.html" %}

{% block body %}
<aside>
  <form action="/submit_selected" method="post">
    <button type="submit">Lataa BibTex tiedosto valituista viitteistä</button>
    <button type="submit" formaction="/submit_delete">
    Poista valitut viitteet
    </button>
    {% call(key) article_table(articles) %}
    <input type="checkbox" name="selected", value="{{ key }}">Artikkeli
    {% endcall %}
    {% call(key) book_table(books) %}
    <input type="checkbox" name="selected", value="{{ key }}">Kirja
    {% endcall %}
  </form>
</aside>
{% endblock %}
